<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo Coffee</title>
    <link rel="stylesheet" href="/template/vendor/bootstrap.css" />
    <link rel="stylesheet" href="/css/app.css">
    {{!-- <link rel="stylesheet" href="/css/dangky.css"> --}}
    {{!-- <link rel="stylesheet" href="/css/dangnhap.css"> --}}
    <link rel="stylesheet" href="/css/details.css">
</head>

<body>

    {{> header }}
    {{{ body }}}
    {{> footer }}

    <script src="/template/jquery/jquery-1.12.3.js"></script>
    <script type="text/javascript" src="/template/js/index.js"></script>

</body>

</html>