<div class="khoi1">
    <div class="container mt-3">
        <div class="row">
            <div class="col-xs-12">
                <hr class="mb-3">
            </div>
            <div class=" col-sm-5">
                <img src="{{products.image}}" alt="">
            </div>
            <div class="col-sm-7 mt-3 pt-3">
                <h2 class="display-4">{{products.name}}</h2>
                <p>Giá: {{products.price}} VNĐ</p>
            </div>
            <div class="col-xs-12 mt-3">
                <hr>
            </div>
        </div>
    </div>
</div>