<div class="slidewrapper">
    <div class="cacslide">
        <ul>
            <li class="active">
                <div class="motslide">
                    <div class="anh1"></div>
                </div>
            </li>

            <li>
                <div class="motslide">
                    <div class="anh2"></div>
                </div>
            </li>

            <li>
                <div class="motslide">
                    <div class="anh3"></div>
                </div>
            </li>
        </ul>
    </div>

    <div class="chuyenslide">
        <ul>
            <li class="kichhoat" id="khoi"></li>
            <li></li>
            <li></li>
        </ul>
    </div> <!-- Xong phần slide -->
</div>

<div class="nen">

    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 nenleft">Menu</div>
                <div class="col-sm-6 text-sm-right">
                    <a href="/products/create" class="nenright">Thêm Sản Phẩm</a>
                </div>
            </div>
        </div>
    </div>
</div>