<div class="container spsanpham">
    <div class="row">
        <div class="col-sm-3">
            <ul class="list-group">
                <a href="#" class="spdanhmuc"><strong>Danh mục sản phẩm</strong></a>
                <li class="list-group-item spbt">
                    <a href="index.html">Coffe</a>
                </li>
            </ul>
        </div>

        <!-- ///////////////////////////////////////// Xong menu dọc ////////////////////////////////////////// -->

        <div class="col-sm-9 spcottrai">
            <h3 class="sptitle">Nổi Bật</h3>
            <div class="spto">
                {{#each products}}
                <div class="sptin">
                    <a href="/products/{{this.slug}}"><img src="{{this.image}}" alt=""></a>
                    <div class="sptext">
                        <a href="#" class="sptile">{{this.name}}</a>
                        <p class="spprace">{{this.price}} Đ</p>
                        <a href="#" class="spmenuitemleft">Mua Ngay</a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div> <!-- Xong col-sm-9 -->
    </div> <!-- Xong row -->
</div> <!-- Xong container -->