<nav class="navbar navbar-light bg-light navbar-fixed-top menutop">
    <div class="container">
        <div class="collapse navbar-toggleable-xs" id="menutren">
            <a class="navbar-brand logo" href="#">
                <a href="/" class="name">Uhouse Coffe</a>
            </a>
            <ul class="nav navbar-nav float-sm-right">
                <li class="nav-item">
                    <div class="all">
                        <a class="nav-link ngang" href="#">
                            Câu Chuyện Thương Hiệu
                        </a>
                        <div class="layer1">
                            <ul class=layer_1>
                                <li>
                                    <a href="#">VỀ THE COFFEE HOUSE</a>
                                </li>
                                <li>
                                    <a href="#">TRÁCH NHIỆM CỘNG ĐỒNG</a>
                                </li>
                                <li>
                                    <a href="#">Thông cáo báo chí</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="all">
                        <a class="nav-link ngang sp" href="#">
                            Menu
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="all">
                        <a class="nav-link ngang" href="products">
                            Sản Phẩm
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="all">
                        <a class="nav-link ngang" href="giohang.html">
                            Giỏ Hàng
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="all">
                        <a class="nav-link ngang" href="dangnhap.html">
                            Đăng Nhập
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="all">
                        <a class="nav-link ngang" href="dangky.html">
                            Đăng Ký
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>